<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>404 | Page Not Found</title>
</head>

<body>
    <h1 class="error">Oops!! Page Not Found</h1>
    <p class="error">Kindly recheck the address or contact the admin</p>
</body>

</html>