* {
    margin: 10px 10px;
    padding: 5px 5px;
    background: rgb(229, 247, 248);
    color: rgb(169, 8, 8);
}

h1 a,
.error {
    font-size: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    cursor: pointer;
}

h1 a:visited {
    color: brown;
}

.h1desc {
    text-align: center;
}

h2 {
    color: rgb(82, 2, 2) !important;
    font-size: 30px;
}

hr {
    padding: 0.5px !important;
}

.inputfield {
    display: block;
}

.inputfield input {
    background: white;
    width: 15rem;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.inputfield textarea {
    background: white;
    width: 15rem;
    height: 10rem;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.inputfield button {
    margin-left: 10rem;
    background-color: rgb(255, 245, 245);
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
}